<!-- Header -->
<section id="header" class="container-fluid text-white">
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-6 column">
          <h1 class="text-left">
            <i id="logo" img class="fa fa-tasks"></i>
          </h1>
          <h1 class="main_title">We make finding an initiative that suits YOU easy!</h1>
          <p class="text-left lead">
            Our unique compatability survey will find projects based on the causes you're passionate about and the way you want to contribute. 
          </p>
          <a href="#" class="btn btn-lg btn-lead"><span class=""></span> Find my match!</a>

          <a href="#" class="btn btn-lg btn-link"><span class="fa fa-arrow-circle-o-right"></span> Check out some projects</a>
        </div>
        <div class="col-md-6 column">
          <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /container  -->
</section>   
<!-- end header -->




<% if current_user  %>
    <%= link_to "New Initiative", "/initiatives/new" %> <br>
<% end %>


<h1> ALL INITIATIVES!!</h1>

<% @initiatives.each do |initiative| %>
<div class="initiative_box">
<%=link_to initiative.name, initiative_path(initiative.id) %> <br>
<%=link_to image_tag(image_path(initiative.image.url(:small))), "/initiatives/#{initiative.id}" %> 
</div>
<% end %>
