<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Ripple</title>
</head>

<div class="row">
  <div class="banner">
    <img src="http://i60.tinypic.com/21espqr.png"/>
  </div>

  <div id="description">
    <p>Our unique compatability survey will find projects based on the causes you're passionate about and the way you want to contribute.</p>
  </div>

  <a href="http://localhost:3000/users/new" class="button"><span class=""></span> Find my match!</a>
  <a href="http://localhost:3000/projects" class="button"> Look at projects!</a>

  <h1>Featured Projects</h1>
  <p>Join <strong>2,642,010</strong> people looking to change the world in their unique way!</p>

  <div class="row">
    <div class="large-3 columns">
      <img src="http://i57.tinypic.com/t6f59x.png"/>
      <h4><strong>Water</strong></h4>
      <p>Through Pipeline, we're tackling the water crisis - a system of local leaders working together to keep water flowing at charity: water projects around the world.</p>
    </div>

    <div class="large-3 columns">
      <img src="http://i58.tinypic.com/wtx1dl.png"/>
      <h4><strong>Homelessness</strong></h4>
      <p>Sandwich for a Story is breaking down the barrier between homeless populations and the rest of society through simple acts of engagement.</p>
    </div>

    <div class="large-3 columns">
      <img src="http://i57.tinypic.com/1h57dk.png"/>
      <h4><strong>Education</strong></h4>
      <p>At Pencils of Promise, we build schools to ensure that our students have access to a quality learning environment.</p>
    </div>

     <div class="large-3 columns">
      <img src="http://i61.tinypic.com/243p0tj.png"/>
      <h4><strong>Environment</strong></h4>
      <p>The Toronto Community Garden Network is made up of interested and energetic individuals and organizations from across the GTA.</p>
    </div>
  </div>
</div>
