<h1>LANDING PAGE</h1>
<div class="jumbotron">
  <%= image_tag "example.jpg", :class =>"pull-right" %>
  <h1> NAME OF COMPANY</h1>
  <p> Our mission is to enhance the accessibility of people to organizations, initiatives and social projects. Through our web app people have instant accesibility to organizations and social projects that they easily connect through the causes that interest them. </p>
</div>
