<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Ultimate Flat - Bootstrap One Page Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- BOOTSTRAP STYLE -->
        <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">

        <!-- GENERAL STYLE CSS -->
        <link rel="stylesheet" href="assets/stylesheets/style.css">

        <!-- COLOR STYLE CSS -->
        <link rel="stylesheet" href="assets/stylesheets/grey.css">

        <!-- FLEXSLIDER -->
        <link href="assets/stylesheets/flexslider.css" rel="stylesheet" />

        <!-- Important Owl stylesheet -->
        <link rel="stylesheet" href="assets/stylesheets/owl.carousel.css">

        <!-- Default Theme -->
        <link rel="stylesheet" href="assets/stylesheets/owl.theme.css">

        <!-- Magnific Popup core CSS file -->
        <link rel="stylesheet" href="assets/stylesheets/magnific-popup.css">

        <script src="inc/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->



<!-- Header -->
<section id="header" class="container-fluid text-white">
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-6 column">
          <h1 class="text-left">
            <i id="logo" img class="fa fa-tasks"></i>
          </h1>
          <h1 class="main_title">We make finding an initiative that suits YOU easy!</h1>
          <p class="text-left lead">
            Our unique compatability survey will find projects based on the causes you're passionate about and the way you want to contribute. 
          </p>
          <a href="#" class="btn btn-lg btn-lead"><span class=""></span> Find my match!</a>

          <a href="#" class="btn btn-lg btn-link"><span class="fa fa-arrow-circle-o-right"></span> Check out some projects</a>
        </div>
        <div class="col-md-6 column">
          <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img class="img-responsive" src="http://i60.tinypic.com/256e05l.png" alt="Slide One">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /container  -->
</section>   
<!-- end header -->

<!-- About -->
<div id="about" class="container text-blue">
  <div class="row clearfix">
    <div class="col-md-12 column p_title">
      <h1 class="text-center">Featured Projects</h1>
       <p class="lead text-center">Join passionate people looking to change the world in their unique way!</p>
    </div>
  </div>
  <div class="row clearfix staff">
    <div class="col-xs-6 col-md-3 column text-center">
      <img class="img-circle" alt="140x140" src="http://i57.tinypic.com/2r7at1u.png" />
     <strong><h1 class="">Water</h1></strong>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem odio ratione tempore molestias, consectetur eveniet!</span>
    </div>
    <div class="col-xs-6 col-md-3 column text-center">
      <img class="img-circle" alt="140x140" src="http://i58.tinypic.com/wtx1dl.png" />
    <strong><h1 class="">Homelessness</h1></strong>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem odio ratione tempore molestias, consectetur eveniet!</span>
    </div>
    <div class="col-xs-6 col-md-3 column text-center">
      <img class="img-circle" alt="140x140" src="http://i57.tinypic.com/1h57dk.png" />
      <strong><h1 class="">Education</h1></strong>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem odio ratione tempore molestias, consectetur eveniet!</span>
    </div>
    <div class="col-xs-6 col-md-3 column text-center">
      <img class="img-circle" alt="140x140" src="http://i61.tinypic.com/243p0tj.png" />
      <strong><h1 class="">Environment</h1></strong>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem odio ratione tempore molestias, consectetur eveniet!</span>
    </div>
  </div>
</div> <!-- container -->
<!-- end about -->









        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="app/assets/inc/js/jquery-1.11.0.min.js"><\/script>')</script>

        <script src="assets/stylesheets/bootstrap.min.js"></script>

        <script src="assets/stylesheets/main.js"></script>

        <!-- FLEXSLIDER -->
        <script src="app/assets/inc/flexslider/jquery.flexslider-min.js"></script>

        <!-- Include js plugin -->
        <script src="app/assets/inc/owl-carousel/owl.carousel.js"></script>

        <!-- Magnific Popup core JS file -->
        <script src="app/assets/inc/magnific-popup/jquery.magnific-popup.js"></script> 

        <!-- Isotope JS file -->
        <script src="app/assets/inc/isotope/jquery.isotope.min.js"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
