
<h3><%= @project.name %></h3>
<p><strong>City: </strong><%= @project.city %></p>
<p><strong>Description: </strong><%= @project.description %></p>
<div class="image_project">
  <%= image_tag image_path(@project.image.url(:medium))%>
</div>