<section id="projectsbackground" class="container-fluid text-white">
<<<<<<< HEAD
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-6 column">
          <h1 class="text-left">
          </h1>
           <img src="http://i60.tinypic.com/2dkixjo.png"/>
          <h1 class="main_title">Explore our projects.</h1>
          <p class="text-left lead">
            Based upon your interests and skills we connect you with like minded people!
          </p>
        </div>
        <div class="col-md-6 column">
          <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /container  -->
=======
  <div class="container">
    <h1 class="text-left">
      <i id="logo" img class="fa fa-heartbeat"></i>
    </h1>
    <h1 class="main_title">Explore our projects.</h1>
    <p class="text-left lead">
      Based upon your interests and skills we connect you with like minded people!
    </p>
  </div>
>>>>>>> fcbe411d22dec26b6ea41205abacc347d4280af5
</section>

<div>
  <%= render 'search_bar' %>
</div>

<div id="projects">
  <%= render 'projectpartial' %>
</div>