<style>
  #header, #footer { display: none }
</style>

<section id="projectsbackground" class="container-fluid text-white">
    <div class="row">
    <img src="http://i60.tinypic.com/2dkixjo.png"/>
    </div>
    <br>
    <br>
    <br>
    <h1 class="main_title">Explore our projects.</h1>
    <p class="text">
      Based upon your interests and skills we connect you with like minded people!
    </p>
</section>

<div id="searchbar">
  <%= render 'search_bar' %>
</div>

<div id="projects">
  <%= render 'projectsindex' %>
</div>
