<div class="row">
  <img src="http://i60.tinypic.com/2dkixjo.png"/>
</div>

<h1 class="main_title title_block">Explore projects</h1>

<p class="text">
  Based upon your interests and skills we connect you with like minded people!
</p>

<div id="searchbar">
  <%= render 'search_bar' %>
</div>

<div id="projects">
  <%= render 'projectsindex' %>
</div>
