<section id="projectsbackground" class="container-fluid text-white">
  <div class="container">
    <h1 class="text-left">
      <i id="logo" img class="fa fa-heartbeat"></i>
    </h1>
    <h1 class="main_title">Explore our projects.</h1>
    <p class="text-left lead">
      Based upon your interests and skills we connect you with like minded people!
    </p>
  </div>
</section>

<div>
  <%= render 'search_bar' %>
</div>

<div id="projects">
  <%= render 'projectpartial' %>
</div>