<section class="project-details">


<%= render 'projectpartial' %>

 
<div class="clear"></div>
</section>


<% if current_user %>
<h4>Get in touch today with <%= @project.name %></h4>
EMAIL
 <% end %>
