html {
  height: 100%;
  box-sizing: border-box;
}


body {
  position: relative;
  margin-bottom: 50px;
  background-image:url('ticks.png');
  min-height: 100%;
  font-size: 14px;
  text-align: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  height: 100%;
}

header {
  width: 100%;
  background-color: #FFFFFF;
}


nav {
  top: 0px;
  background-color: #008cba;
  height: 6em;
  position: fixed;
  width: 100%;
  border-bottom: 2px solid #00536E;
  z-index: 1000;

  #logo {
    float: left;
    height: 6em;
  }

  ul {
    margin-bottom: 0;
    text-align: right;
  }

  li {
    display: inline-block;
    padding: 15px;
    margin-top: 13px;
  }
}

.nav_link {
  color: #FFFFFF;
}

.icon_box {
  width: 100%;
}

.icon {
  border-radius: 50%;
  width: 100%;
  padding: 20px 60px;
}

.name_me {
  size: 1.5em;
  font-weight: bold;
}

.desc_me {
  padding-left: 2%;
  padding-right: 2%;
}

#content  {
  margin-top: 6em;
  min-height: 100%;
  margin-bottom: -6em;
}
#content:after {
  content: "";
  display: block;
}

#description {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.login1 {
  border-bottom: 1px solid #efefef;
  margin: 10px;
  padding-bottom: 10px;
  width: 260px;
}

.col-md-4 {
  margin: auto;
  width: 26%;
  border:3px solid #8b9dc3;
  padding: 10px;
}

.match {
  border: 3px solid #8b9dc3;
}

#user_name {
  text-align: left;
  font-family: 'Oswald', sans-serif;
  float: left;
  padding-left: 25px;
  margin-top: -5px;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: white;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.text {
  text-align: center;
}

#searchbar {
  width:100%;
  box-sizing:border-box;
  padding-bottom: 50px;

  .cause_options, .contribution_options {
    background-color: #fffbf8;
    width: 45%;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid #fffbf8;
    padding: 5px;
    margin: 10px;
  }

  .cause_options {
    float: left;
    margin-left: 10px;
  }

  .contribution_options {
    float: right;
    margin-right: 35px;
  }

  .searchie {

    ul {
      margin-bottom: 0;
      text-align: center;
    }

    li {
      display: inline-block;
      padding: 15px;
      margin-top: 13px;
    }
  }

  .search_button {
    margin-top: 10px;
    width: 50%;
  }
}

.box_effect {
  -webkit-box-shadow: 0 10px 6px -6px rgba(10,10,10,0.5);
     -moz-box-shadow: 0 10px 6px -6px rgba(10,10,10,0.5);
          box-shadow: 0 10px 6px -6px rgba(10,10,10,0.5);
}

.row {
  height: 100%;
  width: 100%;
  max-width: 1500px;
  max-height: 1500px;
  min-width: 100%;
  min-height: 100%;
  margin-bottom: -10px;
}

div#projects {
  ul {
    @include block-grid(3);
  }

  li {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


.initiative_box {
  overflow: hidden;

  ul {
  @include block-grid(3);
  }

  li {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

#footer {
  background-color: #008cba;
  position: static;
  width: 100%;
  height: 50px;
  margin-top: 100px;

  ul {
    text-align: right;
  }

  li {
    margin-top: 15px;
    display: inline-block;
    color: white;
    font-size: 14px;
    padding-right: 20px;
    padding-left: 20px;
  }
}


.info_box {
  overflow: hidden;
  width: 100%;
  padding: 30px;
}

.aboutme {
  display: inline;
  text-align: left;
  float: left;
  width: 25%;

  dt {
    font-size: 1.5em;
  }
  dd {
    font-size: 0.75em;
  }
}

.stats {
  display: inline;
  float: right;
  width: 75%;
  margin-top: -20px;
}

#donutchart {
  width: 100%;
  height: 400px;
  margin-top: -50px;
}

.title_block {
  background-color: rgba(0, 106, 141, 0.50);
  position: static;
  width: 100%;
  padding: 20px;

  .my_init {
    text-align: left
  }
}

.my_init {
  dd {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0.75em;
  }

  dt {
    font-size: 1.5em;
  }
}

.init_desc {
  padding-top: 1.5em;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5%;
}


.form-group {
  padding-right: 30%;
  margin-left: 30%;
}

.survey_image {
  margin-top: -20px;
  height: 30%;
  display: inline-block;
  width: 100%;
}

.pic_1, .pic_2 {
  width: calc(100% / 2);
  float: left;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  border-radius: 75px;
}

.profile_button {
  color: #FFFFFF;
}


div#search1 {
  display: inline;
}

#suggested {

  ul {
  @include block-grid(3);
  }

  li {
    box-sizing: border-box;
    border: 2px solid #b3b6bf;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

#init_projects {
  ul {
  @include block-grid(3);
  }

  li {
    box-sizing: border-box;
    border: 2px solid #b3b6bf;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

a img .icon {
  height: 100%;
}

#new_user {
  width: 55%;
  text-align: center;
  display: inline-block;
  padding-top: 25px;
}

#login_form {
  width: 45%;
  text-align: center;
  display: inline-block;
  padding-top: 25px;
}
